@using LeadControl.Domain.DAL
@using LeadControl.Domain.Entities
@using LeadControl.Domain.Enums
@using LeadControl.Domain.IoC
@using LeadControl.Web.Classes.Ext
@model LeadControl.Web.Models.Dashboard.DashboardModel

@{
    ViewBag.Title = "Сводка";
    Layout = "../Shared/AccountLayout.cshtml";
    var currentUser = ViewContext.CurrentUser();
    var dc = Locator.GetService<LCDataContext>();
}
<ul id="dashboard-tabs" class="nav nav-tabs">
    <li class="active"><a href="#orders" data-toggle="tab">Заказы</a></li>
    <li class=""><a href="#agreements" data-toggle="tab">Договора</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade active in" id="orders">
        @if (currentUser.IsAdmin() || currentUser.HasPermission(Permission.OrdersManager))
        {
            var createdOrders = dc.LeadOrders.Where(o => o.Status != (short)LeadOrderStatus.Completed && o.AssignedUserId == currentUser.Id || (o.LeadOrderChangements.Count > 0 && o.LeadOrderChangements.First().AuthorId == currentUser.Id)).OrderByDescending(o => o.DateModified).Take(5).ToList();
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="icon"><i class="icon20 i-table"></i></div>
                            <h4>Мои заказы</h4>
                            <a href="#" class="minimize"></a>
                        </div>
                        <!-- End .panel-heading -->
                        <div class="panel-body">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>ИД
                                        </th>
                                        <th>Лид
                                        </th>
                                        <th>Проект
                                        </th>
                                        <th>Назначена
                                        </th>
                                        <th>Статус
                                        </th>
                                        <th>Товаров
                                        </th>
                                        <th>Стоимость
                                        </th>
                                        <th>Оплачен
                                        </th>
                                        <th>Дата создания
                                        </th>
                                        <th>Дата обновления
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (createdOrders.Count == 0)
                                    {
                                        <tr>
                                            <td colspan="11">Не найдено заказов
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        foreach (var order in createdOrders)
                                        {
                                            var sum = order.LeadOrderItems.Sum(oi => oi.Quantity * oi.Price);
                                            var payedSum = order.LeadOrderPayments.Sum(p => p.Amount);
                                        <tr>
                                            <td>
                                                <a href="/orders/@order.Id/info">@order.Id</a>
                                            </td>
                                            <td>
                                                @order.Lead.ToString()
                                            </td>
                                            <td>
                                                @order.Project.Title
                                            </td>
                                            <td>
                                                @order.User.GetFioSmall()
                                            </td>
                                            <td>
                                                @(((LeadOrderStatus)order.Status).GetEnumMemberName())
                                            </td>
                                            <td>
                                                @order.LeadOrderItems.Sum(oi => oi.Quantity) шт
                                            </td>
                                            <td>
                                                @String.Format("{0:c}", sum)
                                            </td>
                                            <td>
                                                @if (payedSum >= sum)
                                                {
                                                    <text>полностью</text>
                                                }
                                                else
                                                {
                                                    <text>нет (осталось @String.Format("{0:c}", (sum - payedSum)))</text>
                                                }
                                            </td>
                                            <td>
                                                <span class="tip" title="@order.DateCreated.FormatDateTime()">@order.DateCreated.TimeAgo()</span>
                                            </td>
                                            <td>
                                                <span class="tip" title="@order.DateModified.FormatDateTime()">@order.DateModified.TimeAgo()</span>
                                            </td>
                                            <td style="width: 45px">
                                                <a href="/orders/@order.Id/info" class="btn btn-xs btn-info tip" title="Карточка заказа"><i class="icon12 i-info"></i></a>
                                            </td>
                                        </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (currentUser.IsAdmin() || currentUser.HasPermission(Permission.Finances))
        {
            var financedOrders = dc.LeadOrders.Where(o => o.Status != (short)LeadOrderStatus.Completed && o.Status > (short)LeadOrderStatus.Initial).OrderByDescending(o => o.DateModified).Take(5).ToList();
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="icon"><i class="icon20 i-coins"></i></div>
                            <h4>Заказы на оплату</h4>
                            <a href="#" class="minimize"></a>
                        </div>
                        <!-- End .panel-heading -->
                        <div class="panel-body">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>ИД
                                        </th>
                                        <th>Контрагент
                                        </th>
                                        <th>Статус
                                        </th>
                                        <th>Стоимость
                                        </th>
                                        <th>Оплачено
                                        </th>
                                        <th>Тип оплаты</th>
                                        <th>Рассчетный счет</th>
                                        <th>Дата создания
                                        </th>
                                        <th>Дата обновления
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (financedOrders.Count == 0)
                                    {
                                        <tr>
                                            <td colspan="10">Не найдено заказов
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        foreach (var order in financedOrders)
                                        {
                                            var sum = order.LeadOrderItems.Sum(oi => oi.Quantity * oi.Price);
                                            var payedSum = order.LeadOrderPayments.Sum(p => p.Amount);
                                        <tr>
                                            <td>
                                                <a href="/finances/@order.Id/info">@order.Id</a>
                                            </td>
                                            <td>
                                                @order.Lead.ToString()
                                            </td>
                                            <td>
                                                @(((LeadOrderStatus)order.Status).GetEnumMemberName())
                                            </td>
                                            <td>
                                                @String.Format("{0:c}", sum)
                                            </td>
                                            <td>
                                                @String.Format("{0:c}", payedSum)
                                            </td>
                                            <td>
                                                @(((PaymentTypes)order.PaymentType).GetEnumMemberName())
                                            </td>
                                            <td>
                                                @if (order.Lead.LeadAccountInfos != null)
                                                {
                                                    @order.Lead.LeadAccountInfos.Number
                                                }
                                            </td>
                                            <td>
                                                <span class="tip" title="@order.DateCreated.FormatDateTime()">@order.DateCreated.TimeAgo()</span>
                                            </td>
                                            <td>
                                                <span class="tip" title="@order.DateModified.FormatDateTime()">@order.DateModified.TimeAgo()</span>
                                            </td>
                                            <td style="width: 45px">
                                                <a href="/finances/@order.Id/info" class="btn btn-xs btn-info tip" title="Карточка заказа"><i class="icon12 i-info"></i></a>
                                            </td>
                                        </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (currentUser.IsAdmin() || currentUser.HasPermission(Permission.Logistics))
        {
            var warehouses = currentUser.IsAdmin() ? dc.Warehouses.Select(w => w.Id) : currentUser.WarehouseKeepers.Select(wk => wk.WarehouseId);
            var ordersToExtract = dc.LeadOrders.Where(o => o.Status != (short)LeadOrderStatus.Completed && warehouses.Contains(o.AssignedWarehouseId)).OrderByDescending(o => o.DateModified).Take(5).ToList();
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="icon"><i class="icon20 i-home-9"></i></div>
                            <h4>Заказы на выдачу</h4>
                            <a href="#" class="minimize"></a>
                        </div>
                        <!-- End .panel-heading -->
                        <div class="panel-body">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>ИД
                                        </th>
                                        <th>Лид
                                        </th>
                                        <th>Проект
                                        </th>
                                        <th>Статус
                                        </th>
                                        <th>Товаров
                                        </th>
                                        <th>Стоимость
                                        </th>
                                        <th>Оплачен
                                        </th>
                                        <th>Тип доставки</th>
                                        <th>Дата создания
                                        </th>
                                        <th>Дата обновления
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (ordersToExtract.Count == 0)
                                    {
                                        <tr>
                                            <td colspan="11">Не найдено заказов
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        foreach (var order in ordersToExtract)
                                        {
                                            var sum = order.LeadOrderItems.Sum(oi => oi.Quantity * oi.Price);
                                            var payedSum = order.LeadOrderPayments.Sum(p => p.Amount);
                                        <tr>
                                            <td>
                                                <a href="/orders/@order.Id/info">@order.Id</a>
                                            </td>
                                            <td>
                                                @order.Lead.ToString()
                                            </td>
                                            <td>
                                                @order.Project.Title
                                            </td>
                                            <td>
                                                @(((LeadOrderStatus)order.Status).GetEnumMemberName())
                                            </td>
                                            <td>
                                                @order.LeadOrderItems.Sum(oi => oi.Quantity) шт
                                            </td>
                                            <td>
                                                @String.Format("{0:c}", sum)
                                            </td>
                                            <td>
                                                @if (payedSum >= sum)
                                                {
                                                    <text>полностью</text>
                                                }
                                                else
                                                {
                                                    <text>нет (осталось @String.Format("{0:c}", (sum - payedSum)))</text>
                                                }
                                            </td>
                                            <td>@(((DeliveryTypes)order.DeliveryType).GetEnumMemberName())</td>
                                            <td>
                                                <span class="tip" title="@order.DateCreated.FormatDateTime()">@order.DateCreated.TimeAgo()</span>
                                            </td>
                                            <td>
                                                <span class="tip" title="@order.DateModified.FormatDateTime()">@order.DateModified.TimeAgo()</span>
                                            </td>
                                            <td style="width: 45px">
                                                <a href="/orders/@order.Id/info" class="btn btn-xs btn-info tip" title="Карточка заказа"><i class="icon12 i-info"></i></a>
                                            </td>
                                        </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (currentUser.IsAdmin() || currentUser.HasPermission(Permission.FEA))
        {
            var feaOrders = dc.FEAOrders.Where(o => o.Status != (short)FEAOrderStatus.Completed).AsEnumerable().OrderByDescending(o => o.LastUpdate).Take(5).ToList();
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="icon"><i class="icon20 i-shield-2"></i></div>
                            <h4>Заявки на дозакуп</h4>
                            <a href="#" class="minimize"></a>
                        </div>
                        <!-- End .panel-heading -->
                        <div class="panel-body">
                            <table class="table table-striped table-bordered" id="leads-table">
                                <thead>
                                    <tr>
                                        <th>ИД
                                        </th>
                                        <th>Проект
                                        </th>
                                        <th>Менеджер
                                        </th>
                                        <th>Статус
                                        </th>
                                        <th>Товаров
                                        </th>
                                        <th>Стоимость
                                        </th>
                                        <th>Дата обновления
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (feaOrders.Count == 0)
                                    {
                                        <tr>
                                            <td colspan="8">Не найдено заявок
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        foreach (var order in feaOrders)
                                        {
                                        <tr>
                                            <td>
                                                <a href="/fea/@order.Id/edit">@order.Id</a>
                                            </td>
                                            <td>
                                                @order.Project.Title
                                            </td>
                                            <td>
                                                @order.Manager.GetFioSmall()
                                            </td>
                                            <td>
                                                @(((FEAOrderStatus)order.Status).GetEnumMemberName())
                                            </td>
                                            <td>
                                                @order.FEAOrderItems.Sum(oi => oi.Quantity) шт
                                            </td>
                                            <td>
                                                @String.Format("{0:c}", order.FEAOrderItems.Sum(oi => oi.Quantity * oi.Price))
                                            </td>
                                            <td>
                                                @order.LastUpdate.FormatDateTime()
                                            </td>
                                            <td style="width: 45px">
                                                <a href="/fea/@order.Id/edit" class="btn btn-xs btn-info tip" title="Карточка заявки"><i class="icon12 i-info"></i></a>
                                            </td>
                                        </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="tab-pane fade" id="agreements">
        @if (currentUser.IsAdmin() || currentUser.HasPermission(Permission.ServicesManager))
        {
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="icon"><i class="icon20 i-diamond-2"></i></div>
                            <h4>@(currentUser.IsAdmin() ? "Последние договора" : "Мои договора")</h4>
                            <a href="#" class="minimize"></a>
                        </div>
                        <div class="panel-body">
                            @{
                                var agreements = currentUser.IsAdmin() ? currentUser.LeadAgreements.OrderByDescending(a => a.DateModified).ThenByDescending(a => a.DateCreated).Take(10).ToList() : currentUser.LeadAgreements.OrderByDescending(a => a.DateCreated).ThenByDescending(a => a.DateModified).Take(10).ToList();
                            }
                            <table class="table table-striped table-bordered table-hover" id="agreements-table">
                                <thead>
                                    <tr>
                                        <th>ИД
                                        </th>
                                        <th>Номер
                                        </th>
                                        <th>Дата
                                        </th>
                                        <th>Лид
                                        </th>
                                        <th>Проект
                                        </th>
                                        <th>Менеджер
                                        </th>
                                        <th>Статус
                                        </th>
                                        <th>Услуг
                                        </th>
                                        <th>Общая сумма
                                        </th>
                                        <th>Получено
                                        </th>
                                        <th>Дата создания
                                        </th>
                                        <th>Дата обновления
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (agreements.Count == 0)
                                    {
                                        <tr>
                                            <td colspan="13">Не найдено договоров
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        foreach (var agreement in agreements)
                                        {
                                        <tr>
                                            <td>
                                                <a href="/agreements/@agreement.Id/info">@agreement.Id</a>
                                            </td>
                                            <td>
                                                <a href="/agreements/@agreement.Id/info">@agreement.Number</a>
                                            </td>
                                            <td>
                                                @if (agreement.Date.HasValue)
                                                {
                                                    <text>от @agreement.Date.FormatDate()</text>
                                                }
                                                @if (agreement.EndDate.HasValue)
                                                {
                                                    <text>(до @agreement.EndDate.FormatDate())</text>
                                                }
                                            </td>
                                            <td>
                                                @agreement.Lead.ToString()
                                            </td>
                                            <td>
                                                @agreement.Project.Title
                                            </td>
                                            <td>
                                                @agreement.User.GetFioSmall()
                                            </td>
                                            <td>
                                                @(((LeadAgreementStatus)agreement.Status).GetEnumMemberName())
                                            </td>
                                            <td>
                                                @agreement.LeadAgreementServices.Count
                                            </td>
                                            <td>
                                                @String.Format("{0:c}", agreement.LeadAgreementServices.Sum(ls => ls.Price * ls.Period))
                                            </td>
                                            <td>
                                                @String.Format("{0:c}", agreement.LeadAgreementPayments.Sum(p => p.Amount))
                                            </td>
                                            <td>
                                                <span class="tip" title="@agreement.DateCreated.FormatDateTime()">@agreement.DateCreated.TimeAgo()</span>
                                            </td>
                                            <td>
                                                <span class="tip" title="@agreement.DateModified.FormatDateTime()">@agreement.DateModified.TimeAgo()</span>
                                            </td>
                                            <td style="width: 45px">
                                                <a href="/agreements/@agreement.Id/info" class="btn btn-xs btn-info tip" title="Карточка договора"><i class="icon12 i-info"></i></a>
                                            </td>
                                        </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
