@using LeadControl.Domain.Entities
@using LeadControl.Domain.Enums
@using LeadControl.Web.Classes.Ext
@model LeadControl.Domain.Entities.LeadOrder

@{
    ViewBag.Title = string.Format("Информация о заказе №{0} для {1}", Model.Id, Model.Lead.ToString());
    Layout = "AccountLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="icon"><i class="icon20 i-user"></i></div>
                <h4>Сведения о заказе</h4>
                <a href="#" class="minimize"></a>
            </div>
            <!-- End .panel-heading -->
            <div class="panel-body">
                <form action="/orders/update-order-info" id="create-order-form" method="POST" class="form-horizontal">
                    @Html.HiddenFor(m => m.Id)
                    <div class="form-group">
                        <label class="col-lg-2 control-label" for="lead-field">Лид - клиент</label>
                        <div class="col-lg-10">
                            @Model.Lead.ToString()
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label" for="lead-field">Способ оплаты</label>
                        <div class="col-lg-10">
                            <select id="payment-field" name="paymentType">
                                @foreach (PaymentTypes paymentType in Enum.GetValues(typeof(PaymentTypes)))
                                {
                                    short pt = (short) paymentType;
                                    <option value="@pt">@paymentType.GetEnumMemberName()</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label" for="lead-field">Способ доставки</label>
                        <div class="col-lg-10">
                            <select id="delivery-field" name="deliveryType">
                                @foreach (DeliveryTypes deliveryType in Enum.GetValues(typeof(DeliveryTypes)))
                                {
                                    short dt = (short) deliveryType;
                                    <option value="@dt">@deliveryType.GetEnumMemberName()</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label" for="lead-field">Адрес доставки</label>
                        <div class="col-lg-10">
                            <textarea class="form-control" name="deliveryAddress" placeholder="Введите адрес доставки"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label" for="lead-field">Текущий статус</label>
                        <div class="col-lg-10">
                            @(((LeadOrderStatus)Model.Status).GetEnumMemberName())
                        </div>
                    </div>
                    @if (Model.Warehouse != null)
                    {
                    <div class="form-group">
                        <label class="col-lg-2 control-label" for="lead-field">Назначенный склад</label>
                        <div class="col-lg-10">
                            @String.Format("{0} ({1})",Model.Warehouse.Title,Model.Warehouse.City)
                        </div>
                    </div>
                    }
                    <div class="form-group">
                        <label class="col-lg-2 control-label" for="lead-field">Дата создания</label>
                        <div class="col-lg-10">
                            @Model.DateCreated.FormatDateTime()
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label" for="lead-field">Дата изменения</label>
                        <div class="col-lg-10">
                            @Model.DateModified.FormatDateTime()
                        </div>
                    </div>
                    @if (ViewContext.CurrentUser().IsAdmin() || ViewContext.CurrentUser().HasPermission(Permission.Manager))
                    {
                        <div class="form-group">
                            <div class="col-lg-offset-2">
                                <div class="pad-left15">
                                    <button type="submit" class="btn btn-primary">Обновить</button>
                                </div>
                            </div>
                        </div>
                    }
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <a name="items"></a>
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="icon"><i class="icon20 i-cart"></i></div>
                <h4>Позиции заказа</h4>
                <a href="#" class="minimize"></a>
            </div>
            <div class="panel-body">
                @if (Model.Status == (short)LeadOrderStatus.Initial && (ViewContext.CurrentUser().IsAdmin() || ViewContext.CurrentUser().HasPermission(Permission.Manager)))
                {
                    @Html.Partial("OrderItemsEditor", Model)
                }
                else
                {
                    @Html.Partial("OrderItemsTable", Model)
                }
            </div>
        </div>
    </div>
</div>
<div class="row">
    <a name="history"></a>
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="icon"><i class="icon20 i-history"></i></div>
                <h4>История заказа</h4>
                <a href="#" class="minimize"></a>
            </div>
            <div class="panel-body">
                <div class="chat-layout">
                    @if (Model.LeadOrderChangements.Count > 0)
                    {
                        <ul>
                            @foreach (var changement in Model.LeadOrderChangements.OrderBy(s => s.DateCreated))
                            {
                                <li class="clearfix leftside">
                                    <div class="user center" style="width: 115px">
                                        <div class="avatar center" style="margin-top: 0px">
                                            <img style="width: 60px; height: 60px" src="@changement.Author.GetAvatar()" alt="@changement.Author.GetFio()">
                                        </div>
                                        <span class="ago tip" title="@changement.DateCreated.FormatDateTime()">@changement.DateCreated.TimeAgo()</span>
                                    </div>
                                    <div class="message" style="margin-left: 120px; min-height: 75px">
                                        <span class="name">@changement.Author.GetFio()</span>
                                        <span class="txt">
                                            @if (changement.NewStatus != changement.OldStatus && changement.OldStatus != 0)
                                            {
                                                <text><b>Статус изменен:</b> @(((LeadOrderStatus)changement.OldStatus).GetEnumMemberName()) &rarr; @(((LeadOrderStatus)changement.NewStatus).GetEnumMemberName())</text><br/>
                                            }
                                            @if (changement.NewAssignedUserId != changement.OldAssignedUserId && changement.OldAssignedUser != null)
                                            {
                                                <text><b>Назначенный пользователь изменен:</b> @changement.OldAssignedUser.GetFio() &rarr; @changement.NewAssignedUser.GetFio()</text><br/>
                                            }
                                            @if (changement.NewWarehouseId != changement.OldWarehouseId)
                                            {
                                                <text><b>Назначенный склад изменен:</b> @(changement.OldWarehouse != null ? String.Format("{0} ({1})",changement.OldWarehouse.Title, changement.OldWarehouse.City) : "" ) &rarr; @String.Format("{0} ({1})",changement.NewWarehouse.Title, changement.NewWarehouse.City)</text><br/>
                                            }
                                            @if (!String.IsNullOrEmpty(changement.Comments))
                                            {
                                                @changement.Comments
                                            }
                                        </span>
                                    </div>
                                </li>
                            }
                        </ul>    
                    }
                    else
                    {
                        <p>
                            Заказ еще не изменял своего статуса
                        </p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@if (ViewContext.CurrentUser().IsAdmin() && ViewContext.CurrentUser().HasPermission(Permission.Finances))
{
<div class="row">
    <a name="money"></a>
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="icon"><i class="icon20 i-coins"></i></div>
                <h4>Поступившая оплата</h4>
                <a href="#" class="minimize"></a>
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Дата</th>
                            <th>Тип</th>
                            <th>Сумма</th>
                            <th>Контрагент</th>
                            <th>Номер п.п.</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.LeadOrderPayments.Count > 0)
                        {
                            foreach (var payment in Model.LeadOrderPayments.OrderBy(p => p.DateCreated))
                            {
                                <tr>
                                    <td>
                                        <span class="tip" title="@payment.DateCreated.FormatDateTime()">@payment.DateCreated.TimeAgo()</span>
                                    </td>
                                    <td>
                                        @(((PaymentTypes)payment.PaymentType).GetEnumMemberName())
                                    </td>
                                    <td>
                                        @String.Format("{0:c}", payment.Amount)
                                    </td>
                                    <td>
                                        @payment.Customer
                                    </td>
                                    <td>
                                        @payment.DocumentNumber
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="4">По данному заказу еще не поступало оплаты</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
}
@if (Model.CanChangeStatus(ViewContext.CurrentUser()))
{
    <div class="row">
        <a name="change"></a>
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="icon"><i class="icon20 i-stack-play"></i></div>
                    <h4>Изменение статуса</h4>
                    <a href="#" class="minimize"></a>
                </div>
                <div class="panel-body">
                    <form action="/orders/change-order-status" id="change-status-form" method="POST" class="form-horizontal">
                        @Html.Hidden("id",Model.Id)
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Новый статус</label>
                            <div class="col-lg-10">
                                <select name="newStatus" id="new-status-field">
                                    @foreach (LeadOrderStatus status in Enum.GetValues(typeof (LeadOrderStatus)))
                                    {
                                        var s = (short) status;
                                        <option value="@s" @(Model.Status == s ? "selected=selected":"")>@status.GetEnumMemberName()</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Назначенный пользователь</label>
                            <div class="col-lg-10">
                                <select name="newUser" id="new-user-field">
                                    @foreach (User user in Model.Project.ProjectUsers.Select(pu => pu.User))
                                    {
                                        <option value="@user.Id" @(Model.AssignedUserId == user.Id ? "selected=selected":"")>@user.GetFio()</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Назначенный склад</label>
                            <div class="col-lg-10">
                                <select name="newWarehouse" id="new-warehouse-field">
                                    <option value="0">Не назначен</option>
                                    @foreach (Warehouse warehouse in Model.Project.Warehouses)
                                    {
                                        <option value="@warehouse.Id" @(Model.AssignedWarehouseId == warehouse.Id ? "selected=selected":"")>@warehouse.Title @(warehouse.City)</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Создать заявку на дозакуп</label>
                            <div class="col-lg-10">
                                @Html.CheckBox("createFeaOrder")
                            </div>
                        </div>
                        @if (ViewContext.CurrentUser().HasPermission(Permission.Warehousing))
                        {
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Извлечь остатки со склада</label>
                            <div class="col-lg-10">
                                @Html.CheckBox("extractFromWarehouse")
                            </div>
                        </div>    
                        }
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Комментарии</label>
                            <div class="col-lg-10">
                                <textarea class="form-control" name="comments" id="new-status-comments-field" placeholder="Введите дополнительные комментарии к изменению заказа"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2">
                                <div class="pad-left15">
                                    <button type="submit" class="btn btn-primary">Изменить статус</button>
                                </div>
                            </div>
                        </div>
                        @Html.Hidden("redirectUrl",Request.Url.AbsolutePath)
                    </form>
                </div>
            </div>
        </div>
    </div>
}