@using LeadControl.Domain.Enums
@using LeadControl.Web.Classes.Ext
@using LeadControl.Web.Models.Orders
@model LeadControl.Web.Models.Orders.OrdersFiltrationModel

@{
    ViewBag.Title = "Оплаты по заказам";
    Layout = "../Shared/AccountLayout.cshtml";
    var financedOrders = Model.Fetched;
}

@Html.Partial("LeadOrdersFilter", new LeadOrderFilterModel()
{
    CallbackUrl = "/finances",
    FilterData = Model
})
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="icon"><i class="icon20 i-table"></i></div>
                <h4>Заказы, которые могут быть оплачены</h4>
                <a href="#" class="minimize"></a>
            </div>
            <!-- End .panel-heading -->
            <div class="panel-body">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>ИД
                            </th>
                            <th>Контрагент
                            </th>
                            <th>Статус
                            </th>
                            <th>Стоимость
                            </th>
                            <th>Оплачено
                            </th>
                            <th>Тип оплаты</th>
                            <th>Рассчетный счет</th>
                            <th>Дата создания
                            </th>
                            <th>Дата обновления
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (financedOrders.Count == 0)
                        {
                            <tr>
                                <td colspan="10">Не найдено заказов
                                </td>
                            </tr>
                        }
                        else
                        {
                            foreach (var order in financedOrders)
                            {
                                var sum = order.LeadOrderItems.Sum(oi => oi.Quantity * oi.Price);
                                var payedSum = order.LeadOrderPayments.Sum(p => p.Amount);
                            <tr>
                                <td>
                                    <a href="/finances/@order.Id/info">@order.Id</a>
                                </td>
                                <td>
                                    @order.Lead.ToString()
                                </td>
                                <td>
                                    @(((LeadOrderStatus)order.Status).GetEnumMemberName())
                                </td>
                                <td>
                                    @String.Format("{0:c}", sum)
                                </td>
                                <td>
                                    @String.Format("{0:c}", payedSum)
                                </td>
                                <td>
                                    @(((PaymentTypes)order.PaymentType).GetEnumMemberName())
                                </td>
                                <td>
                                    @if (order.Lead.LeadAccountInfos != null)
                                    {
                                        @order.Lead.LeadAccountInfos.Number
                                    }
                                </td>
                                <td>
                                    <span class="tip" title="@order.DateCreated.FormatDateTime()">@order.DateCreated.TimeAgo()</span>
                                </td>
                                <td>
                                    <span class="tip" title="@order.DateModified.FormatDateTime()">@order.DateModified.TimeAgo()</span>
                                </td>
                                <td style="width: 90px">
                                    <a href="/finances/@order.Id/info" class="btn btn-xs btn-info tip" title="Карточка заказа"><i class="icon12 i-info"></i></a>
                                    <a href="javascript:addTrange(@order.Id)" class="btn btn-xs btn-success tip" title="Добавить оплату по заказу"><i class="icon12 i-coin"></i></a>
                                </td>
                            </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="add-payment-dialog" tabindex="-1" role="dialog" aria-labelledby="addPaymentLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Новое поступление по заказу</h4>
            </div>
            <div class="modal-body">
                <form id="add-payment-form" method="POST" class="form-horizontal" role="form" action="/finances/add-order-payment">
                    <input type="hidden" id="add-payment-order-id-field" name="id" value="-1" />
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Тип платежа</label>
                        <div class="col-lg-9">
                            <select name="paymentType">
                                @foreach (PaymentTypes paymentType in Enum.GetValues(typeof(PaymentTypes)))
                                {
                                    var pt = (short) paymentType;
                                    <option value="@pt">@paymentType.GetEnumMemberName()</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Сумма</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" name="amount" placeholder="Введите сумму поступления"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Контрагент</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" name="customer" placeholder="Введите описание контрагента"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Номер счета / п.п.</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" name="document" placeholder="Введите номер счета или платежного поручения"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" onclick="$('#add-payment-form').submit();">Добавить</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $("#add-payment-form").validate({            
           rules: {
               amount: {
                   required: true,
                   digits: true
               },
               customer: {
                   maxlength: 255
               },
               document: {
                   maxlength: 255
               }
           } 
        });
    });
    function addTrange(id) {
        $("#add-payment-order-id-field").val(id);
        $("#add-payment-dialog").modal({
            keyboard: true
        });
    }
</script>